.fieldemail {
  margin-top: -15%;
}

input {
  height: 30px;
  width: 300px;
  margin-left: 20%;
  margin-top: 17%;
}

button {
  margin-left: 30%;
  outline: light;
}

.error-message {
  color: rgb(252, 137, 137);
  height: 20px;
  margin-left: 34%;
  margin-top: 11%;
}

.message {
  margin-left: 10%;
  color: white;
}

b {
  color: white;
}

img {
  height: 93vh;
  width: 100%;
}

.container {
  width: 50%;
  height: 40vh;
  margin-left: 50%;
  margin-top: -40%;
}

.col-forl-label {
  margin-top: 5%;
}

b:hover{
  color:blue;
}
a{
// text-decoration: red;
color:blue;
}
