.heading {
  color: white;
  margin-top: -50%;
}

img {
  width: 100%;
  height: 92vh;
}
button{
width: 150px;
height: 50px;
  display: inline-block;
  margin-left: 50%;
}
.text{
  color: red;
}
