.form-control{
    width: 100%;

}
.error-message{
    color:rgb(235, 83, 83);
    height: 20px;
}
.container{
    width: 60%;
    margin-left: 2%;
    position: absolute;
    margin-top: -10%;
}
img{
    height:93vh;
    width: 100%;
    position: relative;
}
.button{
    margin-left: 20%;
}
.button1{
    margin-left: 3%;
}
.fieldname{
    margin-top: -55%;
}