img {
  width: 100%;
  height: 93vh;
}
.relative {
  position: relative;
  margin-top: -40%;
  margin-left: 5%;
  color: white;
  font-size: 300%;
}
.relative1 {
  margin-left: 5%;
  margin-top: 3%;
  color: white;
}
.relative2 {
  margin-top: 1%;
  margin-left: 5%;
  color: white;
}
.button {
  margin-left: 10%;
  margin-top: 3%;
}
a:hover {
  color: black;
}
a {
  color: white;
}
.footer {
  background-color: rgb(229, 227, 227);
  height: 60vh;
}
.table {
  margin-top: 9%;
}
.page {
  margin-top: 16%;
  font-size: 150%;
  margin-left: 40%;
}
.page1 {
  margin-left: -50%;
  margin-top: 45%;
}
.pencil {
  width: 60%;
  height: 40%;
  margin-top: -23%;
  margin-left: 100%;
  border-radius: 50%;
}
.truck {
  width: 15%;
  height: 35%;
  margin-top: -7%;
  margin-left: 60%;
  border-radius: 50%;
}
.page2 {
  margin-left: -230%;
  margin-top: 50%;
}
.dish {
  width: 25%;
  height: 35%;
  margin-top: -13%;
  margin-left: 30%;
  border-radius: 60%;
}
.page3 {
  margin-left: -240%;
  margin-top: 60%;
}
