<div>
  <img src="../../assets/images/homeimg.jpeg" />
  <span>
    <h1 class="relative">Hungry?!</h1>
  </span>
  <span>
    <h1 class="relative1">Good, we are here</h1> </span
  ><br />
  <span>
    <h1 class="relative2">to <b>serve </b>you</h1>
  </span>
</div>
<button type="button" class="btn btn-outline-light button">
  <a href="/aboutus"><b>Read More</b></a>
</button>
<br /><br />
<div class="footer">
  <footer>
    <p class="page">How It <b>Works?</b></p>
    <br />
    <table class="table">
      <tr></tr>
      <tr>
        <td><img class="pencil" src="../../assets/images/pencil.png" /></td>
        <td>
          <p class="page1">
            Sign In And Choose Form<br />
            Our Weekly Menu
          </p>
        </td>
        <td><img class="truck" src="../../assets/images/truck.jpeg" /></td>
        <td>
          <p class="page2">
            We Will Deliver Your<br />
            Purchase
          </p>
        </td>
        <td><img class="dish" src="../../assets/images/dish.png" /></td>
        <td>
          <p class="page3">
            Enjoy Our Tasty<br />
            Organic Food!
          </p>
        </td>
      </tr>
    </table>
  </footer>
</div>
